@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;400;600&display=swap");

@font-face {
  font-family: "Spantaran";
  /* path relative to src/App.css -> src/assets/fonts/Spantaran.ttf */
  src: url("./assets/fonts/Spantaran.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #ffffff;
  --balck: #000000;
  --black-333333: #333333;
  --black-666666: #666666;
  --grey-BBBBBB: #bbbbbb;
  --grey-DDD: #ddd;
  --black-231F20: #231f20;
  --red: #c3181e;
  --green: #40ac44;

  --fonts-body: "Sunflower", "Spantaran", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  --Spantaran: "Spantaran", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--fonts-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: var(--black-333333);
}

a {
  text-decoration: none;
  color: inherit;
}

.title_64 {
  color: var(--black-231F20);
  font-family: var(--Spantaran);
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0.72px;
}

.title_36 {
  color: var(--white);
  font-family:var(--Spantaran);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px; 
}

.title_24 {
  color: var(--black-666666);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.title_20 {
  color: var(--black-333333);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.heade_dot {
  color: var(--red);
}

.mb_50 {
  margin-bottom: 50px;
}

.mb_100 {
  margin-bottom: 100px;
}

.com_btn {
  display: inline-block;
  padding: 10px 15px;
  gap: 5px;
  border-radius: 5px;
  background: var(--balck);
  color: var(--white);
}

.com_btn_red {
  display: inline-block;
  padding: 10px 15px;
  gap: 5px;
  color: var(--white);
  border-radius: 10px;
  background: var(--red);
}
